.terminal {
  position: fixed;
  bottom: 0px;
  background: black;
  color: white;
  font-family: monospace;
  padding: 10px;
  width: 100%;
  resize: vertical;
}

.terminal-header {
  display: flex;
  justify-content: space-between;
  background: #151414;
  padding: 5px;
  width: 100%;
  resize: vertical;
}

.terminal-display {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  min-height: 50px;
  max-height: 400px;
  font-size: 10px;
  resize: vertical;
}

.terminal-input {
  display: flex;
  align-items: center;
  padding: 5px;
  background: black;
}

.CurrentUser {
  font-size: 12px;
  margin-right: 10px;
  color: white;
  white-space: nowrap;
}

.terminal-input input {
  font-size: 12px;
  width: 100%;
  color: white;
  background: black;
  border: none;
  outline: none;
  padding: 5px;
  flex-grow: 1;
  min-width: 0;
}

.terminal-display pre {
  font-family: monospace;
  color: white;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
