.default-sidebar .current-president p {
  font-size: 1.1em;
  font-weight: bold;
  color: #66cc66;
}

.default-sidebar .players-list ul {
  padding: 0;
  list-style: none;
}

.default-sidebar .players-list li {
  padding: 5px 0;
}

.default-sidebar .players-list li.current-user {
  font-weight: bold;
  color: #ffcc00;
}

.default-sidebar .role-badge {
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 0.6em;
}
