.hacker-sidebar .current-location p {
  font-size: 1.1em;
  font-weight: bold;
  color: #66cc66;
}

.hacker-sidebar .available-moves ul {
  list-style-type: none;
  padding: 0;
}

.hacker-sidebar .available-moves li {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.hacker-sidebar .available-moves .node-id {
  font-weight: bold;
  color: #ffcc00;
}

.hacker-sidebar .available-moves .command {
  font-size: 0.9em;
  color: #66cc66;
}
