.result-sidebar .trivia-details,
.result-sidebar .answers,
.result-sidebar .result-message {
  margin-bottom: 20px;
}

.result-sidebar .answers h3 {
  margin-top: 10px;
}

.result-sidebar .result-message .success {
  color: #66cc66;
}

.result-sidebar .result-message .failure {
  color: #ff0000;
}
