.vote-sidebar .vote-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .vote-sidebar .vote-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .vote-sidebar .vote-content {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .vote-sidebar .appointee-name {
    color: #ffd700;
  }

  .vote-sidebar .appointed-hacker {
    background-color: #ccff99;
    color: #000;
    font-weight: bold;
  }
  